* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    /* width: 100vw;
    height: 100%; */
    background: #d9d9da url(https://www.teachef.com/img/bodybg.png);
}

.background {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 50vw;
    transform: translate3d(0, 0, -2px) scale3d(3, 3, 1);
    transform-origin: 50% 50%;
    border: 1px solid green;
    overflow: hidden;
}
.background img {
    /* width: 100%; */
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.container {
    position: absolute;
    top: 10px;
    left: 20%;
    width: 60%;
    height: calc(100vh - 20px);
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: 50% 0%;
}
.container::-webkit-scrollbar {
    display: none;
}
.content {
    position: absolute;
    overflow-y: auto;
    z-index: 100;
    border: 1px solid red;
    width: 100%;
    height: 300vh;
}

.box {
    height: 100px;
    margin-top: 100px;
    border: 1px solid gray;
}