* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    position: relative;
} */

.product .corner {
    width: 100%;
    height: 200px;
    background-color: green;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    position: absolute;
}

.product .prod-name {
    position: absolute;
    top: 100px;
    left: 35%;
    color: #ffffff;
    mix-blend-mode: difference;
}

.product .img {
    height: calc(100vh/2 - 1px);
    margin-bottom: 1px;
}

.bgsweep {
    background: linear-gradient(
        -45deg,
        #9a9a9a90 45%,
        #cdcdcd 50%,
        #9a9a9a90 55%,
        #9a9a9a90 100%
    );
    background-size: 350%;
    background-position: 0%;
    animation: bgsweep 1s infinite;
}

@keyframes bgsweep {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}